# Python cache
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# Local data files
data/

# Model
models/
*.pkl
*.pt
*.pth

# virtual environment
.venv/
.env

# Mac OS 설정 파일 (Mac 사용자 필수)
.DS_Store